node-red-flow.json
[
    {
        "id": "81ea8d2ba008bf4e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13e5807123579897",
        "type": "ui-switch",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "label": "Relay 1",
        "group": "9b0880496c877850",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "line",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "9e0d2f66f82fdcdd"
            ]
        ]
    },
    {
        "id": "eb906b0577114f7a",
        "type": "ui-switch",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "label": "Relay 2",
        "group": "9b0880496c877850",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "line",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "e45b601a19f16ca3"
            ]
        ]
    },
    {
        "id": "094be25653a3b7e9",
        "type": "ui-switch",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "label": "Relay 3",
        "group": "9b0880496c877850",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "line",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "45f4e4f99bd8cfed"
            ]
        ]
    },
    {
        "id": "e809dc7ab0cdc73a",
        "type": "ui-switch",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "label": "Relay 4",
        "group": "9b0880496c877850",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "line",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "d3d1c498c7ce4c26"
            ]
        ]
    },
    {
        "id": "19570478c8ffcc2b",
        "type": "ui-template",
        "z": "81ea8d2ba008bf4e",
        "group": "48478668d2bb73ed",
        "page": "",
        "ui": "",
        "name": "Camera",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<img width=\"100%\" src=\"http://192.168.139.215:5000/video_feed\" alt=\"cam1\">",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3a1c3693ebc30261",
        "type": "ui-chart",
        "z": "81ea8d2ba008bf4e",
        "group": "07646e86c0b6dcf2",
        "name": "Suhu DHT 1",
        "label": "Suhu",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Waktu",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Suhu",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 730,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d962272ebf6dab1d",
        "type": "ui-chart",
        "z": "81ea8d2ba008bf4e",
        "group": "07646e86c0b6dcf2",
        "name": "Kelembapan DHT 1",
        "label": "Kelembapan",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Waktu",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Kelembapan",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b9eb6f48d5cbb6f0",
        "type": "ui-chart",
        "z": "81ea8d2ba008bf4e",
        "group": "d1e06d98d72940c6",
        "name": "Kelembapan DHT 2",
        "label": "Kelembapan",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Waktu",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Kelembapan",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e3d3ec6943826e3f",
        "type": "ui-chart",
        "z": "81ea8d2ba008bf4e",
        "group": "d1e06d98d72940c6",
        "name": "Suhu DHT 2",
        "label": "Suhu",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Waktu",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Suhu",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "88572956155dae22",
        "type": "ui-chart",
        "z": "81ea8d2ba008bf4e",
        "group": "b074cfa9a45a2a71",
        "name": "Kelembapan DHT 3",
        "label": "Kelembapan",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Waktu",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Kelembapan",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "dc41e455e8b395cb",
        "type": "ui-chart",
        "z": "81ea8d2ba008bf4e",
        "group": "b074cfa9a45a2a71",
        "name": "Suhu DHT 3",
        "label": "Suhu",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Waktu",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Suhu",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e2929e22b0eec07a",
        "type": "ui-gauge",
        "z": "81ea8d2ba008bf4e",
        "name": "Suhu DHT1",
        "group": "5fbbb83a49a332fb",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Suhu",
        "units": "℃",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff77"
            },
            {
                "from": "20",
                "color": "#b5e222"
            },
            {
                "from": "40",
                "color": "#fef102"
            },
            {
                "from": "60",
                "color": "#ff8800"
            },
            {
                "from": "80",
                "color": "#ff0000"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "4280782e1f097bc6",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "e2929e22b0eec07a"
            ]
        ]
    },
    {
        "id": "39844fb9c28056e1",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/lembap1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4268910294fd3b9b"
            ]
        ]
    },
    {
        "id": "7847bdf9f2ea746e",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "778e9e077e9e9efb"
            ]
        ]
    },
    {
        "id": "04529ac5a1c6d205",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/lembap2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "623d78f5bca2765d"
            ]
        ]
    },
    {
        "id": "8e60ee051369152f",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/temp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "a3d2efca416990bf"
            ]
        ]
    },
    {
        "id": "6b7a049db6e50f14",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/lembap3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "06089b6204e10bc1"
            ]
        ]
    },
    {
        "id": "fef49bfe991aeed3",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/gtemp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 40,
        "wires": [
            [
                "3a1c3693ebc30261"
            ]
        ]
    },
    {
        "id": "c28acf97c1e72536",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/glembap1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "d962272ebf6dab1d"
            ]
        ]
    },
    {
        "id": "59c98107dd00593d",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/gtemp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "e3d3ec6943826e3f"
            ]
        ]
    },
    {
        "id": "42e227cf14470a9e",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/glembap2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "b9eb6f48d5cbb6f0"
            ]
        ]
    },
    {
        "id": "d7bae30f2a7c07a2",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/gtemp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "dc41e455e8b395cb"
            ]
        ]
    },
    {
        "id": "d3a5c0ce54084f0f",
        "type": "mqtt in",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/dht/glembap3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "23e15791c0b07c10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "88572956155dae22"
            ]
        ]
    },
    {
        "id": "9e0d2f66f82fdcdd",
        "type": "mqtt out",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/relay/1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23e15791c0b07c10",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "e45b601a19f16ca3",
        "type": "mqtt out",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/relay/2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23e15791c0b07c10",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "45f4e4f99bd8cfed",
        "type": "mqtt out",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/relay/3",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23e15791c0b07c10",
        "x": 300,
        "y": 540,
        "wires": []
    },
    {
        "id": "d3d1c498c7ce4c26",
        "type": "mqtt out",
        "z": "81ea8d2ba008bf4e",
        "name": "",
        "topic": "/relay/4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23e15791c0b07c10",
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "778e9e077e9e9efb",
        "type": "ui-gauge",
        "z": "81ea8d2ba008bf4e",
        "name": "Suhu DHT2",
        "group": "d5ffd97107a937b2",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Suhu",
        "units": "℃",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff77"
            },
            {
                "from": "20",
                "color": "#b5e222"
            },
            {
                "from": "40",
                "color": "#fef102"
            },
            {
                "from": "60",
                "color": "#ff8800"
            },
            {
                "from": "80",
                "color": "#ff0000"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "a3d2efca416990bf",
        "type": "ui-gauge",
        "z": "81ea8d2ba008bf4e",
        "name": "Suhu DHT3",
        "group": "d098783a63f0c24c",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Suhu",
        "units": "℃",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff77"
            },
            {
                "from": "20",
                "color": "#b5e222"
            },
            {
                "from": "40",
                "color": "#fef102"
            },
            {
                "from": "60",
                "color": "#ff8800"
            },
            {
                "from": "80",
                "color": "#ff0000"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "4268910294fd3b9b",
        "type": "ui-gauge",
        "z": "81ea8d2ba008bf4e",
        "name": "Kelembapan DHT1",
        "group": "5fbbb83a49a332fb",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kelembapan",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff77"
            },
            {
                "from": "20",
                "color": "#b5e222"
            },
            {
                "from": "40",
                "color": "#fedd02"
            },
            {
                "from": "60",
                "color": "#ff8800"
            },
            {
                "from": "80",
                "color": "#ff0000"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "623d78f5bca2765d",
        "type": "ui-gauge",
        "z": "81ea8d2ba008bf4e",
        "name": "Kelembapan DHT2",
        "group": "d5ffd97107a937b2",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kelembapan",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff77"
            },
            {
                "from": "20",
                "color": "#b5e222"
            },
            {
                "from": "40",
                "color": "#fedd02"
            },
            {
                "from": "60",
                "color": "#ff8800"
            },
            {
                "from": "80",
                "color": "#ff0000"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "06089b6204e10bc1",
        "type": "ui-gauge",
        "z": "81ea8d2ba008bf4e",
        "name": "Kelembapan DHT3",
        "group": "d098783a63f0c24c",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Kelembapan",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00ff77"
            },
            {
                "from": "20",
                "color": "#b5e222"
            },
            {
                "from": "40",
                "color": "#fedd02"
            },
            {
                "from": "60",
                "color": "#ff8800"
            },
            {
                "from": "80",
                "color": "#ff0000"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "9b0880496c877850",
        "type": "ui-group",
        "name": "Relay",
        "page": "32eb8f52687781d5",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "48478668d2bb73ed",
        "type": "ui-group",
        "name": "Cam 1",
        "page": "2f458da2b73d43da",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "07646e86c0b6dcf2",
        "type": "ui-group",
        "name": "Grafik DHT 1",
        "page": "39c1441e344d8bd5",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d1e06d98d72940c6",
        "type": "ui-group",
        "name": "Grafik DHT 2",
        "page": "39c1441e344d8bd5",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b074cfa9a45a2a71",
        "type": "ui-group",
        "name": "Grafik DHT 3",
        "page": "39c1441e344d8bd5",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5fbbb83a49a332fb",
        "type": "ui-group",
        "name": "DHT 1",
        "page": "32eb8f52687781d5",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "23e15791c0b07c10",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d5ffd97107a937b2",
        "type": "ui-group",
        "name": "DHT 2",
        "page": "32eb8f52687781d5",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d098783a63f0c24c",
        "type": "ui-group",
        "name": "DHT 3",
        "page": "32eb8f52687781d5",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "32eb8f52687781d5",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "36f6cd7493a231b5",
        "path": "/page1",
        "icon": "mdi-view-dashboard",
        "layout": "grid",
        "theme": "41937a03db17bc48",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "2f458da2b73d43da",
        "type": "ui-page",
        "name": "Monitoring ",
        "ui": "36f6cd7493a231b5",
        "path": "/page2",
        "icon": "mdi-cctv",
        "layout": "grid",
        "theme": "41937a03db17bc48",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "39c1441e344d8bd5",
        "type": "ui-page",
        "name": "Timeline",
        "ui": "36f6cd7493a231b5",
        "path": "/page3",
        "icon": "mdi-chart-areaspline",
        "layout": "grid",
        "theme": "41937a03db17bc48",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "36f6cd7493a231b5",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "41937a03db17bc48",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
